@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter.ttf") format("truetype");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  letter-spacing: -0.02em;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: "Inter", "Segoe UI";
  background-color: #f8f8f8;
  position: relative;
}

dialog {
  position: relative;
  z-index: 100;
  animation: fade-out 0.3s ease-out;
}

dialog:open {
  animation: fade-in 0.3s ease-out;
}

dialog:open::backdrop {
  animation: backdrop-fade-in 0.2s ease-out forwards;
}

/* Animation keyframes */

@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: rgb(0 0 0 / 0%);
  }

  100% {
    background-color: rgb(0 0 0 / 5%);
  }
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Custom dropdown arrow */
  background-image: url("../src/icons/drop_down_arrow.svg");
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 20px 20px;
  /* <-- make arrow bigger */
}

textarea {
  resize: vertical;
  font-family: "Inter";
}